.checkbox__label {
	display: inline-flex;
	align-items: center;
	cursor: pointer;
	gap: rem(10);
	position: relative;

	.checkbox__box {
		width: rem(20);
		height: rem(20);
		border: rem(1) solid #63ec51;
		border-radius: rem(2);
		position: relative;

		&::after {
			content: "";
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%) scale(0);
			width: rem(15); // ← обновлённый размер
			height: rem(15); // ← обновлённый размер
			background-color: #63ec51;
			border-radius: rem(2);
			transition: transform 0.3s ease;
		}
	}
}
.checkbox__input {
	display: none;
}
.checkbox__input:checked + .checkbox__label .checkbox__box::after {
	transform: translate(-50%, -50%) scale(1);
}